.collapse#invoice-form
  form.needs-validation
    .h2 Registro Lightning Hackday
    .form-group
      label(for="name") Nombre
      input(id="name", required="required").form-control
    .form-group
      label(for="lastname") Apellido
      input(id="lastname", required="required").form-control
    .form-group
      label(for="email") Email
      input(id="email", required="required").form-control
    button.btn.btn-primary#send-btn(type="button") Registrar
