.collapse.jumbotron#pay-invoice
  h3#invoice-description
  h2
    span#invoice-amount 0
    span SAT
    span.usd-aprox
  p.lead Para continuar, haga un pago con una billetera con soporte Bitcoin Lightning Network a la siguiente factura.
  p.lead Esta factura expira en 10 minutos.
  hr.my-4
  .qr-code.mb-3(align="center")
  h6
    strong Factura:
  p.long-word#invoice-text
